<!-- ===============================
	Main Area
=============================== -->
<div id="main-area">

<div class="news">
<h2>更新履歴</h2>
<dl>
<!--
<dt>xxxDATExxx</dt>
<dd>xxxTEXTxxx</dd>
-->
<dt>3.0.18 - 2023/01/23</dt>
<dd>本以外の商品ページでも検索のローディングアイコンが表示されてしまうバグを修正しました。</dd>
<dt>3.0.17 - 2023/01/12</dt>
<dd>Kindle や Audible のページでも対応する単行本が図書館にあるかどうかを表示するようにしました。</dd>
<dt>3.0.16 - 2023/01/06</dt>
<dd>図書館設定画面を新しくしました。拡張機能バーより Libron のアイコンをクリックして開いて下さい。</dd>
<dt>3.0.15 - 2023/01/02</dt>
<dd>Chrome Extension Manifest V3に対応しました。</dd>
<dt>3.0.13 - 2020/12/06</dt>
<dd>Chrome 87以降で動作しない問題を修正しました。</dd>
<dt>3.0.12 - 2019/03/28</dt>
<dd>LibronをインストールしているとAmazon Payでエラーが発生する問題を修正しました。</dd>
<dt>2018/10/11</dt>
<dd>Safari 12より.safariextzスタイルの拡張機能がサポートされなくなりました。これに伴い、LibronでSafariをサポートすることが難しくなったため、サポートをやめることにいたしました。</dd>
<dt>3.0.10 - 2018/01/10</dt>
<dd>図書館選択ができなくなっていた問題を修正しました。</dd>
<dt>3.0.9 - 2016/06/12</dt>
<dd>Amazonのhttpsページに対応しました。</dd>
<dt>3.0.8</dt>
<dd>ほしい物リスト(Wishlist)に対応し直しました。</dd>
<dt>3.0.7</dt>
<dd>Amazonの書籍ページのデザイン変更に対応しました。</dd>
<dt>3.0.5(Greasemonkey版のみ)</dt>
<dd>Firefox Greasemonkey版をリリースしました。</dd>
<dt>3.0.4</dt>
<dd>「大学図書館も表示」のチェックあり/なし が保存されていなかった問題を修正しました。</dd>
<dt>3.0.3</dt>
<dd>Chrome Extension版で図書館の選択と蔵書検索ができなくなってしまった問題を修正しました。</dd>
<dd>Chrome Extension版をManifest version 2に対応</dd>
<dt>3.0.2</dt>
<dd>本が図書館にない場合、他の図書館で借りられるかどうかすぐに調べられるようにカーリルのリンクを表示するようにしました。</dd>
<dt>3.0.1</dt>
<dd>デフォルトのリスト以外の「ほしい物リスト」（新しく自分で作成した「ほしい物リスト」）にも対応しました。</dd>
</dl>
<!-- /div.news --></div>

<!-- /div#main-area --></div>
