<h2>Safari ユーザーのための GreaseKit 版<%= image_tag 'safari-logo.png', :style => 'vertical-align:middle' %></h2>

<div class="notice">
<p>GreaseKit 版は東京都内の図書館のみに対応した機能限定版です。今後も対応範囲を拡げる予定はありません。</p>

<p>Libronのことがインストール方法を含めてマイコミジャーナルに紹介されました。より詳しい解説が必要な場合は、ぜひこちらを参照してください。</p>
<p>&raquo;<a target="_blank" href="http://journal.mycom.co.jp/articles/2009/10/15/libron/001.html">【レビュー】アマゾンで探して買……借りる! 図書館蔵書検索ツール『Libron』とは? (2) インストール方法(Firefox/Safari)</a></p>
</div>

<div class="section">
<h3 class="border-bottom">1. GreaseKit のインストール</h3>
<p>Safari で Libron を利用するには GreaseKit が必要です。</p>
<p>以下 GreaseKit ページ Install 部分の説明に従い、SIMBL、GreaseKit を順にインストールしてください。</p>
<%= image_tag 'cog.png' %> <a href="http://8-p.info/greasekit/" target="_blank">GreaseKit</a>
</div>

<div class="section">
<h3 class="border-bottom">2. Libron のインストール</h3>
<p>以下をクリックし、Libron の GreaseKit 用スクリプトをインストールすれば完了です。</p>
<%= image_tag 'cog.png' %> <%= link_to 'librongk.user.js', 'http://github.com/champierre/libron/raw/master/librongk.user.js', :target => "_blank" %>
</div>

