<div class="span-24 last footer small quiet right">
  <a href="http://trackfeed.com/"><img name="trackfeed_banner" src="http://img.trackfeed.com/img/tfg.gif" alt="track link" border="0" align="absmiddle" /></a>
  <nobr><a href="http://trackfeed.com/u/9eafce9a074f056a245fcbfe0c0cc0533ffb02d8/Libron+-+%E7%84%A1%E6%96%99%E3%81%A7%E6%9C%AC%E3%81%8C%E8%AA%AD%E3%82%81%E3%82%8B%E3%83%A9%E3%82%A4%E3%83%95%E3%83%8F%E3%83%83%E3%82%AF/http%3A%2F%2Flibron.net/52639eda">Libron - 無料で本が読めるライフハック</a></nobr>
  <script type="text/javascript">
  document.write(unescape("%3Cscript src='http://script.trackfeed.com/usr/9/3/7d6ce478.js' type='text/javascript'%3E%3C/script%3E"));
  </script><br />
Icons by <%= link_to 'famfamfam.com', "http://www.famfamfam.com", :target => "_blank" %><br />
Special Thanks to <%= link_to '三鷹プログラマーズカフェ', 'http://pgcafe.net' %><br />
Copyright(C)2009<%= Time.now.year == 2009 ? '' : "-#{Time.now.year}" %> <%= link_to("Champierre", "http://champierre.com/", :target => "_blank") %> All Rights Reserved.
</div>