<div class="span-24 last menu">
<div class="smallbox span-3"><%= link_to 'Libron とは？', :controller => 'old', :action => 'index' %></div>
<div class="smallbox span-3"><%= link_to 'インストール', :controller => 'old', :action => 'install' %></div>
<div class="smallbox span-6"><%= link_to 'Safari ユーザーのための GreaseKit 版', :controller => 'old', :action => 'install_for_safari' %></div>
<div class="smallbox span-3"><%= link_to '開発者ブログ', 'http://blog.champierre.com/858' %></div>
<div class="span-6 last">
<a href="http://b.hatena.ne.jp/entry/libron.net/"><img src="http://b.hatena.ne.jp/entry/image/http://libron.net"></a>
</div>
</div>
