<div class="title"><%= image_tag 'cog.png' %>ダウンロード</div>
<%= link_to 'libron.user.js', 'http://github.com/champierre/libron/raw/master/libron.user.js', :target => "_blank" %>

<div class="small">* Firefox + Greasemonkey が必要です</div>