<div class="title"><%= image_tag 'cog.png' %>ダウンロード</div>
<%= link_to 'librongk.user.js', 'https://github.com/champierre/libron/raw/master/librongk.user.js', :target => "_blank" %>

<div class="small">* GreaseKit が必要です</div>

