<div id="visual">
<div class="description">
<h1>Libron（リブロン）とは</h1>
<p class="lead">Libron は Amazon のページから素早く最寄りの図書館の蔵書を検索し、貸出予約ができる便利なツールです。</p>
<p class="area">図書館蔵書検索サイト「カーリル」(<a href="http://calil.jp/" target="_blank">http://calil.jp/</a>)の提供するAPIを利用することで、<strong>全国7000以上の図書館(1400館以上の<a href="http://calil.jp/library/univ" target="_blank">大学図書館</a>を含む)</strong>に対応しています。</p>
<!-- /div.description --></div>

<ul id="tabs">
<li><a href="javascript:;">Library + Amazon</a></li>
<li><a href="javascript:;">1. 図書館を選択</a></li>
<li><a href="javascript:;">2. 本を検索</a></li>
<li><a href="javascript:;">3. 図書館のページにジャンプ</a></li>
</ul>
<%
  visuals = [
    {filename: 'visual_0.png', alt: 'Library + Amazon'},
    {filename: 'visual_1.png', alt: '1. 図書館を選択'},
    {filename: 'visual_2.png', alt: '2. 本を検索'},
    {filename: 'visual_3.png', alt: '3. 図書館のページにジャンプ'}
  ]
%>
<ul id="output">
  <% visuals.each do |visual| %>
    <li><%= image_tag "images-home/#{visual[:filename]}", alt: visual[:alt], width: "650", height: "250" %></li>
  <% end %>
</ul>
<!-- /div#visual --></div>
