<h2>Libron とは？</h2>

<div class="notice">
<p><b>2010/01/26</b> ver.1.96 滋賀県内県の図書館に対応しました。Firefox 3.6 に対応しました。</p>  
<p><b>2010/01/15</b> ver.1.94 宮崎県の図書館(一部を除く。<a target="_blank" href="http://github.com/ishimaru-s/libron/blob/master/libron.miyazaki.js">詳細</a>)に対応しました。</p>  
<p><b>2009/12/08</b> ver.1.93 大阪府Web-OPAC横断検索のURL変更に対応しました。</p>  
</div>

<p>Libron は <span class="large" style="color:#005499;font-weight:bold;">Amazon</span> のページから最寄りの図書館(*)の蔵書を検索できる便利なツールです。</p>

<div class="small">* 現在対応しているのは東京都、大阪府、京都府、神奈川県、千葉県、兵庫県、岐阜県、三重県、埼玉県内一部（川越市立図書館、川口市立図書館、越谷市立図書館、埼玉県立図書館、所沢市立所沢図書館、朝霞市立図書館、新座市立図書館、志木市立図書館、和光市立図書館）、新潟県（新潟市立図書館のみ）、宮崎県(一部を除く。<a target="_blank" href="http://github.com/ishimaru-s/libron/blob/master/libron.miyazaki.js">詳細</a>)、滋賀県の図書館です。</div>

<div class="section">
<h3 class="border-bottom">1. 図書館を選択</h3>
<%= image_tag '/images/old/libron1.png' %>
</div>

<div class="section">
<h3 class="border-bottom">2. 本を検索</h3>
<%= image_tag '/images/old/libron2.png' %>
</div>

<div class="section">
<h3 class="border-bottom">3. 図書館のページにジャンプ</h3>
<%= image_tag '/images/old/libron3.png' %>
</div>
