<h2>インストール</h2>

<div class="notice">
<p>Libronのことがインストール方法を含めてマイコミジャーナルに紹介されました。より詳しい解説が必要な場合は、ぜひこちらを参照してください。</p>
<p>&raquo;<a target="_blank" href="http://journal.mycom.co.jp/articles/2009/10/15/libron/001.html">【レビュー】アマゾンで探して買……借りる! 図書館蔵書検索ツール『Libron』とは? (2) インストール方法(Firefox/Safari)</a></p>
</div>

<div class="section">
<h3 class="border-bottom">0. Libron を使用するには</h3>

<p>Libron を使用するには、 ブラウザに Firefoxを使用してください。<a href="http://getfirefox.jp/" title="Firefox ブラウザ無料ダウンロード"><img src="http://getfirefox.jp/b/120x90_1_orange" alt="Firefox ブラウザ無料ダウンロード" border="0" /></a></p>

<p>(Safari ユーザーの方へ。東京都の図書館のみ対応した、GreaseKit 版がございます。GreaseKit 版は今後対応範囲を拡げる予定はありませんが、それでもよろしければ、こちらをご利用ください。 -> <%= link_to 'Safari ユーザーのための GreaseKit 版', :controller => 'top', :action => 'install_for_safari' %>)</p>

</div>

<div class="section">
<h3 class="border-bottom">1. Greasemonkey のインストール</h3>

<p>Libron を利用するには Firefox の拡張機能 Greasemonkey が必要です。</p>

<p>Greasemonkey をインストールしていない場合は、以下よりダウンロードおよびインストールをおこなってください。</p>

<a href="https://addons.mozilla.org/ja/firefox/addon/748" target="_blank"><%= image_tag '/oldimages/gm_icon.png', :border => 0 %></a> <a href="https://addons.mozilla.org/ja/firefox/addon/748" target="_blank">Greasemonkey</a>
</div>

<div class="section">
<h3 class="border-bottom">2. Libron のインストール</h3>
<p>以下をクリックし、Libron の Greasemonkey スクリプトをインストールすれば完了です。</p>
<%= image_tag '/oldimages/cog.png' %> <%= link_to 'libron.user.js', 'http://github.com/champierre/libron/raw/master/libron.user.js', :target => "_blank" %>
</div>