<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="リブロン,図書館,Amazon,カーリル,検索,蔵書,アドオン,addon,Firefox,Chrome,拡張,グリモン,Greasemonkey,無料,ライフハック,lifehack,iPhone" />
<meta name="description" content="Libron(リブロン)は、カーリルAPIを使いAmazonのページから最寄りの図書館(全国5900以上の図書館に対応)の蔵書を検索できる便利なツールです。iPhone版、Firefox Add-on版、Chrome Extension版を配布しています。" />
<title><%= "#{strip_tags(@title)} | " if @title %><%= Settings::SITE_TITLE %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-itunes-app" content="app-id=478517535">
<link href="/stylesheets/import.css" rel="stylesheet" type="text/css" media="screen,print" />
</head>
<body id="subpage" style="padding:10px;">
<div id="header" class="clearfix" style="margin:0;width:300px;">
<div class="logo left"><img src="/images/logo.png" alt="Libron(リブロン) – 図書館をもっと身近に" width="100" /></div>
</div>
<%= yield %>
<div id="footer" style="margin-top:20px;width:300px;">
<address>© 2010-2012 <a href="http://tsukurusha.com/" target="_blank">Tsukurusha, LLC.</a> All Rights Reserved</address>
</div>
<%= render :partial => "shared/google_analytics.html.erb" %>
</body>
</html>
